terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
.terraform/
crash.log
*.log
/Tests/*
terraformbackendconfig.tf
Terraformconfig/11_Scripts
Terraformconfig/12_Velero
Terraformconfig/10_Tad
/Modules
.terraform.lock.hcl
/Terraformconfig/04_CSI_Secret_Store_Manifest/*.yaml
Terraformconfig/04_CSI_Secret_Store_Manifest/SecretStore/*.yaml
Terraformconfig/04_CSI_Secret_Store_Manifest/PodId/*.yaml
Terraformconfig/04_CSI_Secret_Store_Manifest/SampleWorkloads/*.yaml
armextract
backend*.hcl